.container {
  max-width: 1180px;
  margin: auto;
  
  // padding: 2rem 4rem;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2rem;
}

.item svg {
  display: block;
  margin-right: 4px;
}

.list {
  padding: 2rem 0;
}

.item {
  display: flex;
  align-items: center;
}

.title {
  font-size: 36px;
  color: #240046;
  text-align: center;
  font-weight: 500;
}

.number {
  border: 1px solid rgb(155, 155, 155, 1  );
  color: rgba(36, 0, 70, 1);
  width: 4vw;
  border-radius: 50%;
  display: flex;
  height: 4vw;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  font-weight: bold;
  font-size: calc(20px + 12 * (100vw / 1180));
}

.prgrph {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: rgba(52, 58, 64, 1);
}
