.slider {
  max-width: 570px;
  max-height: 420px;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
}

.slider img {
  flex-shrink: 0;
}

.slider__btns {
  position: absolute;
  right: 1%;
  bottom: 0;
  top: 90%;
  display: flex;
  align-items: center;
}

.prev__btn {
  padding-right: 3em;
}

.slider__btns button {
  background-color: unset;
  border: none;
}

.slider__btns button:hover {
  scale: 1.16;
  cursor: pointer;
}