// @import './common/fonts.scss';

* {
  box-sizing: border-box;
}

html,
body {
  
  background-color: rgba(248, 248, 248, 1);
  font-family: "Gilroy", sans-serif;
  margin: 0;
  padding: 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  figure,
  pre {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }
}